<link rel="stylesheet" href="/css/style.css">

<div class="app">
    <div class="status"></div>

    <div class="watchers">
        <div class="watcher">
            <div class="repo bold">Repo</div>
            <div class="file-path bold">File Name / Path / Pattern</div>
            <div class="clear"></div>
        </div>

        <% for (var i = 0; i < watchers.length; i++) { %>
            <div class="watcher light">
                <div class="repo"><%= watchers[i].owner %>/<%= watchers[i].repo %></div>
                <div class="file-path"><%= watchers[i].pattern %></div>
                <div>
                    <a class="delete" data-id="<%= watchers[i].id %>" href="#">✗ Remove</a>
                </div>
                <div class="clear"></div>
            </div>
        <% } %>

        <form id="create-watcher" class="watcher" action="/api/watchers" method="POST">
            <select name="repo" class="repo">
                <option value="">Select a repo...</option>
                <% for (var i = 0; i < repos.length; i++) { %>
                    <option value="<%= repos[i].full_name %>"><%= repos[i].full_name %></option>
                <% } %>
            </select>
            <input type="text" name="pattern" class="file-path" placeholder="For example: Model.java or /[xX][0-9a-z]{2}/">
            <input type="submit" value="Create">
        </form>
    </div>

    <div class="footer">
        Hi, <%= username %>!
        &nbsp;&nbsp;&middot;&nbsp;&nbsp;
        <a href="/logout">Logout</a>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $('#create-watcher').submit(function(e) {
        var $submit = $('[type=submit]');
        var ownerAndRepo = $('[name=repo]').val().split('/');

        $submit.attr('disabled', 'disabled');

        $.ajax({
            url: '/api/watchers',
            type: 'POST',
            data: {
                owner: ownerAndRepo[0],
                repo: ownerAndRepo[1],
                pattern: $('[name=pattern]').val()
            }
        }).done(function() {
            location.reload(true);
        }).fail(function(response) {
            var message = 'An unknown error has occurred. Try again later.';

            if (response.responseJSON && response.responseJSON.error) {
                message = response.responseJSON.error;
            }

            $('.status').text(message)
                    .slideDown()
                    .delay(2000)
                    .slideUp();

            $submit.removeAttr('disabled');
        });

        e.preventDefault();
    });

    $('.watcher .delete').click(function(e) {

        var id = $(e.currentTarget).data('id');

        $.ajax({
            url: '/api/watchers/' + id,
            type: 'DELETE'
        }).done(function() {
            location.reload(true);
        }).fail(function(response) {
            var message = 'An unknown error has occurred. Try again later.';

            if (response.responseJSON && response.responseJSON.error) {
                message = response.responseJSON.error;
            }

            $('.status').text(message)
                    .slideDown()
                    .delay(2000)
                    .slideUp();
        });

        e.preventDefault();
    });
</script>