* {
    font-family: 'Lucida Grande';
}

a {
    color:rgb(0, 139, 255);
}

.clear {
    clear: both;
}

.bold {
    font-weight: bold;
}

.app {
    width: 700px;
    margin: 0 auto 0;
    font-size: 13px;
}

.login-link {
    margin: 100px auto;
    display: block;
    font-size: 24px;
    text-align: center;
}

.status {
    background: rgb(0, 139, 255);
    color: #fff;
    padding: 10px 15px;
    margin: 0 0 30px;
    display: none;
}

.watchers {
    margin: 30px 0 0;
}

.watcher {
    margin: 0 0 15px;
    font-size: 13px;
    position: relative;
    display: block;
}

.watcher .repo {
    margin: 0 10px 5px 0;
    width: 250px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.watcher.light {
    color: #555;
}

.watcher .file-path {
    margin: 0 0 5px;
    width: 365px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.watcher .delete {
    text-decoration: none;
}

#create-watcher {
    margin:30px 0;
}

#create-watcher select {
    display: inline-block;
    font-size: 13px;
    width: 230px;
    margin: 0 30px 0 0;
}

#create-watcher input[name=pattern] {
    display: inline-block;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #bbb;
    padding: 0 0 3px;
    margin: 0 30px 0 0;
    font-size: 13px;
    width: 335px;
    outline: none;
}

#create-watcher input[type=submit] {
    display: inline-block;
    font-size: 13px;
    width: 71px;
}

.footer {
    margin: 40px 0 0;
    padding: 15px 0 0;
    border-top: 1px solid #ddd;
}